// backend/firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      // ... (el resto de tus reglas) ...
    }
    match /class_presence/{docId} {
      // ...etc...
    }
    match /attendances/{docId} {
      // ...etc...
    }
    match /requests/{docId} {
      // ...etc...
    }
  }
}