<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center ion-margin-bottom" style="margin-top: 20px;">
    <h1>Crear Cuenta</h1>
    <p style="color: #aaa">Únete a Duoc Assist</p>
  </div>

  <ion-item lines="none" class="custom-input">
    <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
    <ion-input placeholder="Correo Institucional" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  
  <ion-item lines="none" class="custom-input">
    <ion-icon slot="start" name="lock-closed-outline" color="medium"></ion-icon>
    <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button (click)="onRegister()" expand="block" color="primary" shape="round" class="ion-margin-top" style="height: 50px; font-weight: bold;">
    REGISTRARSE
  </ion-button>
  
  <ion-button [routerLink]="['/login']" expand="block" fill="clear" color="medium" class="ion-margin-top">
    ¿Ya tienes cuenta? Inicia Sesión
  </ion-button>

  <p *ngIf="error" style="color: #eb445a; text-align: center; margin-top: 20px; font-weight: bold;">
    {{ error }}
  </p>

</ion-content>