<ion-content class="login-content">

  <div class="login-container">
    <div class="login-card">

      <!-- LOGO / HEADER -->
      <div class="login-header">
        <img src="assets/logo.png" class="app-logo" alt="Logo Duoc Assist" />
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
      </div>

      <!-- FORM -->
      <div class="login-form">

        <div class="input-group">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input placeholder="Correo Institucional" type="email" [(ngModel)]="email"></ion-input>
        </div>

        <div class="input-group">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
        </div>

        <p *ngIf="error" class="error-msg">{{ error }}</p>

        <ion-button (click)="onLogin()" shape="round" class="login-btn">
          INICIAR SESIÓN
        </ion-button>

        <div class="register-link">
          <span>¿No tienes cuenta?</span>
          <a [routerLink]="['/register']">Regístrate</a>
        </div>

      </div>

    </div>
  </div>

</ion-content>